.wrapper-cart_empty {
  height: 472px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .empty-cart_title {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 0;
  }
  .btn-fill {
    background-color: var(--primary);
    font-size: 1.7rem;
    border: 0;
    outline: none;
    border-radius: 6px;
    width: 100px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    &:hover {
      color: #453227;
      transition: all linear 0.3s;
      background-color: #c5a491;
    }
  }
}

.wrapper-cart_list {
  margin-top: var(--height-navbar);
  overflow: hidden;
}

.wrapper-cart{
    padding: 50px 110px;
    .content {
      display: grid;
      grid-template-columns: 277px 1fr 1fr 1fr 30px;
      column-gap: 1rem;
      .content-item {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--font-color-category);
        text-align: center;
      }
    }
    
    .cart-item {
      display: grid;
      grid-template-columns: 277px 1fr 1fr 1fr auto;
      align-items: center;
      gap: 3rem 1rem;
      margin-top: 20px;
      margin-bottom: 50px;
      .item {
        display: flex;
        align-items: center;
        .img {
          width: 100px;
          height: 75px;
          object-fit: cover;
          border-radius: 10px;
        }
        .name {
          margin-left: 20px;
          font-weight: bold;
          line-height: 1.6rem;
          font-size: 1.6rem;
          height: 1.6rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          text-transform: capitalize;
        }
        .color {
          margin-left: 20px;
          display: flex;
          align-items: center;
          .color-title {
            color: var(--font-color-category);
          }
          .color-item {
            width: 15px;
            height: 15px;
            background-color: black;
            align-items: center;
            margin-left: 8px;
            border-radius: 4px;
          }
        }
        .price-mobile {
          margin-left: 20px;
          color: var(--font-color-price);
          display: none;
        }
      }
      .price {
        text-align: center;
        color: var(--font-color-price);
      }
      .quantity {
        text-align: center;
        .add-quantity,
        .remove-quantity {
          border: 0;
          outline: none;
          background-color: transparent;
          font-size: 2rem;
        }
        .num-quantity {
          padding: 0 15px;
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
      .subtotal {
        text-align: center;
        color: var(--font-color-category);
      }
      .btn-delete {
        border: 0;
        outline: none;
        color: white;
        background-color: #bb2525;
        padding: 2px 7px;
        border-radius: 4px;
      }
    }
    .wrapper-btn{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;

        .clear-shopping,
        .continue-shopping{
            color: white;
            background-color: var(--primary);
            padding: 3px 10px;
            font-weight: 400;
            border: 0;
            outline: none;
            border-radius: 4px;
        }
        .clear-shopping{
            background-color: #222;
        }
    }
    .wrapper-btn_loggin,
    .wrapper-total{
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        .total-price{
            padding: 24px 48px;
            border: 1px solid #bebebe;
            height: 200px;
            width: 400px;
            border-radius: 3px;
            .shipping,
            .subtotal{
                display: flex;
                justify-content: space-between;
                padding-bottom: 5px;
                .subtotal-price,
                .subtotal-title{
                    font-weight: 700;
                }
            }
            .shipping{
                color: var(--font-color-category);
            }
            .oder-total{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50%;
                .oder-price,
                .oder-title{
                    font-size: 2.5rem;
                    font-weight: 600;
                }
            }
        }
    }
    .wrapper-btn_loggin{
        margin-top: 20px;
        .btn-login{
            padding: 5px 0;
            width: 400px;
            color: white;
            background-color: var(--primary);
            border: 0;
            outline: none;
            border-radius: 5px;
            font-weight: 600;
            &:hover{
                color: #453227;
                background-color: #c5a491;
            }
        }
    }
}



@media screen and (max-width: 740px) {
    .wrapper-cart{
        padding: 50px 10px;
        .content {
          display: none;
        }
        .hr-heading {
          display: none;
        }
        .cart-item {
          grid-template-columns: 1.5fr 1fr auto;
          grid-gap: 0px;
          .price,
          .subtotal {
            display: none;
          }
          .item {
            .name {
              margin-left: 20px;
              font-weight: bold;
              font-size: 1rem;
            }
            .color {
              .color-title {
                font-size: 1rem;
              }
              .color-item {
                width: 10px;
                height: 10px;
              }
            }
            .price-mobile {
              font-size: 1.3rem;
              display: block;
            }
          }
          .quantity {
              .add-quantity,
              .remove-quantity {
                font-size: 1.2rem;
              }
              .num-quantity {
                padding: 0 15px;
                font-size: 1.6rem;
                font-weight: bold;
              }
          }
          .btn-delete {
              border: 0;
              outline: none;
              color: white;
              background-color: #bb2525;
              padding: 1px 5px;
              border-radius: 4px;
              font-size: 1.6rem;
          }
        }
        .wrapper-btn_loggin,
        .wrapper-total{
            justify-content: center;
        }
    }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .content {
    grid-template-columns: 277px 1fr 1fr 1fr 30px;
  }
  .cart-item {
    grid-template-columns: 277px 1fr 1fr 1fr 30px;
    grid-gap: 30px;
  }
}
